@model OjVolunteer.Model.UserInfo

@{
    Layout = "~/Views/Shared/User_Layout.cshtml";
}

<header>
    <nav class="top">
        <p>他人信息</p>
    </nav>
</header>
<div class="usertitle clearfix">
    <div class="info-img">
        <img src="@Model.UserInfoIcon" id="myimg" name="UserInfoIcon">
    </div>
    <div class="info-name">
        <h3>@Model.UserInfoShowName</h3>
        <p>
            所属团队：<i>@Model.OrganizeInfo.OrganizeInfoShowName</i>
            <br>
            服务总时长： <i>@ViewBag.Total 小时</i>
            <br>
            服务时长(预备党员)： <i>@ViewBag.Proparty 小时</i>
        </p>
    </div>
</div>

<div class="baseinfo">
    <ul class="info-list">
        <li class="info-item">
            <a href="/Talks/TalksOfUser/?Id=@Model.UserInfoID" class="clearfix">
                <i class="iconfont icon-edit"></i>
                <span>他的心得</span>
            </a>
        </li>
    </ul>
</div>

