@model OjVolunteer.Model.OrganizeInfo

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>OrganizeDetail</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-table/bootstrap-table.css" rel="stylesheet" />
    <link href="~/Content/layui/css/layui.css" rel="stylesheet" />
    <link href="~/Content/oj/css/admin.css" rel="stylesheet" />


</head>
<body>
    @using (Ajax.BeginForm("Edit", "OrganizeDetail", new AjaxOptions() { OnSuccess = "afterSubmit" }, new { @class = "layui-form layui-form-pane stuInfo-form" }))
    {
        <div class="form-horizontal">
            @Html.HiddenFor(model => model.OrganizeInfoID)
            @Html.HiddenFor(model => model.OrganizeInfoManageId)
            @Html.HiddenFor(model => model.OrganizeInfoLastTime)
            @Html.HiddenFor(model => model.CreateTime)
            @Html.HiddenFor(model => model.Remark)
            @Html.HiddenFor(model => model.OrganizeInfoPwd)
            @Html.HiddenFor(model => model.OrganizeInfoLoginId)
            @Html.HiddenFor(Model=>Model.ActivityCount)
        </div>
        <div class="header clearfix">
            <div class="header-left">
                @Html.HiddenFor(model => model.OrganizeInfoIcon)
                <img src="@Model.OrganizeInfoIcon" width="100px" height="100px">
            </div>
            <div class="header-right">

                <div class="layui-form-item">
                    <label class="layui-form-label">登录名</label>
                    <div class="layui-input-block">
                        @Html.EditorFor(model => model.OrganizeInfoLoginId, new { htmlAttributes = new { autocomplete = "off", @class = "layui-input", disabled = ""} })
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">负责人</label>
                    <div class="layui-input-block">
                        @Html.EditorFor(model => model.OrganizeInfoPeople, new { htmlAttributes = new { autocomplete = "off", @class = "layui-input", lay_verify = "required|username" } })
                    </div>
                </div>
            </div>
        </div>
        <div class="content clearfix">
            <div class="content-left">

                <div class="layui-form-item">
                    <label class="layui-form-label">团队名称</label>
                    <div class="layui-input-block">
                        @Html.EditorFor(model => model.OrganizeInfoShowName, new { htmlAttributes = new { autocomplete = "off", @class = "layui-input", lay_verify = "required|orgname" } })
                    </div>
                </div>


                <div class="layui-form-item">
                    <label class="layui-form-label">邮箱</label>
                    <div class="layui-input-block">
                        @Html.EditorFor(model => model.OrganizeInfoEmail, new { htmlAttributes = new { autocomplete = "off", @class = "layui-input" } })
                    </div>
                </div>
            </div>
            <div class="content-right">

                <div class="layui-form-item">
                    <label class="layui-form-label">手机号</label>
                    <div class="layui-input-block">
                        @Html.EditorFor(model => model.OrganizeInfoPhone, new { htmlAttributes = new { autocomplete = "off", @class = "layui-input", lay_verify = "required|phone" } })
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">状态</label>
                    <div class="layui-input-block">
                        <select name="Status" lay-verify="required">
                            @{
                                if (Model.Status == 0)
                                {
                                    <option value="0" selected>正常</option>
                                    <option value="1">已删除</option>
                                }
                                else if (Model.Status == 1)
                                {
                                    <option value="0">正常</option>
                                    <option value="1" selected>已删除</option>
                                }
                            }
                        </select>
                    </div>
                </div>
            </div>
            <div class="content-footer">
                <div class="layui-form-item">
                    <label class="layui-form-label">注册时间</label>
                    <div class="layui-input-block">
                        @Html.EditorFor(model => model.CreateTime, new { htmlAttributes = new { autocomplete = "off", @class = "layui-input", disabled = "" } })
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label" style="overflow:initial;">最后登录时间</label>
                    <div class="layui-input-block">
                        @Html.EditorFor(model => model.OrganizeInfoLastTime, new { htmlAttributes = new { autocomplete = "off", @class = "layui-input", disabled = "" } })
                    </div>
                </div>
            </div>

        </div>
        <div class="footer-btn">
            <div class="layui-form-item">
                <button class="layui-btn red-btn" lay-submit>确定修改</button>
                <button type="reset" class="layui-btn layui-btn-primary" id="orgcancel">重置密码</button>
            </div>
        </div>
    }
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script src="~/Scripts/App/simple-ajax-form.js"></script>
    <script src="~/Content/bootstrap-table/bootstrap-table.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Content/bootstrap-table/bootstrap-table-zh-CN.js"></script>
    <script src="~/Scripts/datapattern.js"></script>
    <script src="~/Content/layui/layui.all.js"></script>
    <script src="~/Content/oj/js/check.js"></script>
    <script type="text/javascript">

         $(function () {
             $("#orgcancel").click(function () {
                layer.confirm('确定重置密码吗？', {
                    btn: ['确定', '取消']
                }, function () {
                    $.post("/OrganizeInfo/ResetPwd", { "id": $("#OrganizeInfoID").val() }, function (data) {
                        if (data == "success") {
                            layer.alert('密码重置为000000',{icon:1});
                        } else {
                            layer.alert('重置失败,请稍后再试！', {
                                icon: 2
                            });
                        }
                    })
            });
            });
        });
        function afterSubmit(data) {
            if (data == "success") {
                layer.alert('更改团队信息成功！', { icon: 1 });
            } else {
                layer.alert('更改失败！', { icon: 2 });
            }
        }
    </script>

</body>
</html>
